@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.main {
    background-color: rgb(182, 6, 6);
    margin: none;
}
.title{
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align:center;
    text-shadow: 3px 3px 5px yellow;
    font-family:'Roboto', greek-ext
}

.second_title{
    font-size:35px;
    text-align:center;
    margin:30px;
    text-shadow: 3px 3px 5px yellow;
}

.paragraph {
    font-size: 40px;
    margin:30px;
    max-width: 1500px;
    text-align: justify;
    font-family: 'Roboto', math
  }